<nav class="navbar">
    <!-- <a href="/" class="navbar-brand">StudySphere</a> -->
    <a href="/" class="navbar-brand"> StudySphere </a>
    <div class="navbar-container">
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/materials">Study Materials</a></li>
            <li><a href="/discussions">Discussion Forums</a></li>
            <li><a href="/collaboration">Collaborate</a></li>
            <li><i class="fa-regular fa-user"></i><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <div class="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>